<a href="https://colab.research.google.com/github/sohil344/python_practise/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
k={}
res=dict()
for i in keys  :
  for j in values:
   k[i]=j
#print(k)

#print(dict(zip(keys,values)))

for i in range(len(keys)):
  res.update({keys[i]:values[i]})
print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
# Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [ ]:
sampleDict['class']['student']['marks']['history']

80

In [ ]:
#Exercise 4: Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

k={}

for i in employees:
  k[i]=defaults
print(k)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
# Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
k={}
# Keys to extract
keys = ["name", "salary"]

for i in keys:
  k[i]=sample_dict[i]
print(k)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
# Delete a list of keys from a dictionary

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}


# Keys to remove
keys = ["name", "salary"]

for i in keys:
  sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [ ]:
#Check if a value exists in a dictionary

sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 500 in sample_dict.values():
  print('yes')
else:
  print('No')

No

In [ ]:
# Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['Location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [ ]:
#Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Chemistry': 65,
  'history': 75
}
print(min(sample_dict, key=sample_dict.get))
value=min(sample_dict.values())
key=[i for i in sample_dict if sample_dict[i]==value]
print(key)

Chemistry
['Chemistry']

In [ ]:
# Change value of a key in a nested dictionary
#Write a Python program to change Brad’s salary to 8500 in the following dictionary.

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

change='Brad'
salary_change=8500
for i in sample_dict:
  
  if (sample_dict[i]['name']=='Brad'):
    sample_dict[i]['salary']=8500
  
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
#Write a Python script to add a key to a dictionary. Go to the editor

a= {0: 10, 1: 20}
a[2]=30
a

{0: 10, 1: 20, 2: 30}

In [ ]:
# Write a Python script to concatenate the following dictionaries to create a new one. Go to the editor


dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic4={}
for d in (dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
n=5
b={}
for i in range(1,n+1):
  b[i]=i*i
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to sum all the items in a dictionary.

my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [ ]:
# Write a Python program to sort a given dictionary by key.
color_dict = {'red':1,
          'green':10,
          'black':20,
          'white':80}
for value in sorted(color_dict.values()):

KeyError: ignored

In [ ]:
color_dict = {'red':1,'green':10,'black':20,'white':80}
print(sorted(color_dict.items(), key=operator.itemgetter(1)))

TypeError: ignored

In [ ]:
my_dict = {'x':500, 'y':5874, 'z': 560}
key_max=max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min=min(my_dict.keys(), key=(lambda k:my_dict[k]))

print(key_max,key_min)

y x

In [ ]:
# create dictionary using class obj

class distobj(object):
  def __init__(self):
    self.x='red'
    self.y='Green'
    self.z='Yellow'



test=distobj()
print(test.__dict__)

{'x': 'red', 'y': 'Green', 'z': 'Yellow'}

In [ ]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result={}

for key,value in student_data.items():
  if value not in result.values():
    result[key]=value
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
dict={}
if bool(dict)==False:
  print("Dict is empty")

Dict is empty

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3=d2
for i,j in d1.items():
  if i in d2:
    d3[i]=j+d2[i]
  else:
    d3[i]=j




d3

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
# Write a Python program to print all distinct values in a dictionary. Go to the editor

d1=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

unique=set()

for dic in d1:
  for val in dic.values():
    unique.add(val)
unique

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [ ]:
d1={'1':['a','b'], '2':['c','d']}
import itertools
k=[]
for i in d1.values():
  for j in i:
    k.append(j)
res=list(itertools.combinations(k,3))
for i in res:
  print("".join(i))

abc
abd
acd
bcd

In [ ]:

# Python program to demonstrate
# finding 3 highest values in a Dictionary
 
# Initial Dictionary
my_dict = {'A': 67, 'B': 23, 'C': 45,
        'D': 56, 'E': 12, 'F': 69}
 
print("Initial Dictionary:")
print(my_dict, "\n")
 
print("Dictionary with 3 highest values:")
print("Keys: Values")
 
x=list(my_dict.values())
d=dict()
x.sort(reverse=True)
x=x[:3]
for i in x:
    for j in my_dict.keys():
        if(my_dict[j]==i):
            print(str(j)+" : "+str(my_dict[j]))

Initial Dictionary:
{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69}

Dictionary with 3 highest values:
Keys: Values
F : 69
A : 67
D : 56

In [ ]:
my_dict = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69}
x=list(my_dict.values())
x.sort(reverse=True)
x=x[:3]
x
for i in x:
  for j in my_dict:
    if my_dict[j]==i:
      print(str(j)+": "+str(my_dict[j]))

F: 69
A: 67
D: 56

In [ ]:
l1=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
res={}
for d in l1:
  for j in d.values():
    print(j)
    res[j]=res.get(j,0)
print(res)

item1
400
item2
300
item1
750
{'item1': 0, 400: 0, 'item2': 0, 300: 0, 750: 0}

In [ ]:
string= 'w3resource'
d={}
for i in string:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
for k in d:
  print(k,':',d[k])
print(d)

w : 1
3 : 1
r : 2
e : 2
s : 1
o : 1
u : 1
c : 1
{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
dict1 = {}
 
# insert data into dictionary.
dict1 = {'NAME': ['Samuel', 'Richie', 'Lauren'],
         'AGE': [21, 20, 21],
         'COURSE': ['Data Structures', 'Machine Learning', 'OOPS with Java']}
 
# print the contents using zip format.
for each_row in zip(*([i] + (j)
                      for i, j in dict1.items())):
 
      print(*each_row, " ")

In [ ]:
dict1 = {'NAME': ['Samuel', 'Richie', 'Lauren'],
         'AGE': [21, 20, 21],
         'COURSE': ['Data Structures', 'Machine Learning', 'OOPS with Java']}
for i,j in dict1.items():
  for row in (zip([i]+j)):
    print(row)

('NAME',)
('Samuel',)
('Richie',)
('Lauren',)
('AGE',)
(21,)
(20,)
(21,)
('COURSE',)
('Data Structures',)
('Machine Learning',)
('OOPS with Java',)

In [ ]:

num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
k={}
for i,j in num.items():
  k[i]=j
print(k)

{'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

In [ ]:
shop =  {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
j=[]
j=sorted(list(shop.values()),reverse=True)

for i in j:
  for k in shop:
    if shop[k]==i:
      print(k,':',shop[k])

item4 : 55
item1 : 45.5
item3 : 41.3
item2 : 35
item5 : 24

In [ ]:
num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for count,(i,j) in enumerate(num.items()):
  print(count,' ',i,' ',j)

0   1   10
1   2   20
2   3   30
3   4   40
4   5   50
5   6   60

In [ ]:
l1=['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
l2= [1, 2, 2, 3]
a={}
for i in range(len(l1)):

  a[l1[i]]=l2[i]
a

{'Class-V': 1, 'Class-VI': 2, 'Class-VII': 2, 'Class-VIII': 3}

In [ ]:
l1=['S001', 'S002', 'S003', 'S004']
l2=['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
l3=[85, 98, 89, 92]
zip(l1,l2,l3)
result=[{x:{y:z}} for (x,y,z) in zip(l1,l2,l3)]
print(result)

[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [ ]:
stud={'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
stud2={}
for k,s in stud.items():
  if s[0]>=6 and s[1]>=70:
    stud2[k]=s
stud2

{'Cierra Vega': (6.2, 70)}

In [ ]:
d={'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
b=[{key:value[i] for key,value in d.items()} for i in range (4)]
b

[{'Science': 88, 'Language': 77},
 {'Science': 89, 'Language': 78},
 {'Science': 62, 'Language': 84},
 {'Science': 95, 'Language': 80}]

In [ ]:
d=[{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]

for i in d:

  if i['id']=='#FF0000':
    d.remove(i)
    
d

[{'id': '#800000', 'color': 'Maroon'},
 {'id': '#FFFF00', 'color': 'Yellow'},
 {'id': '#808000', 'color': 'Olive'}]

In [ ]:
d={'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}
for i,j in d.items():
  j.clear()
d

{'C1': [], 'C2': [], 'C3': []}

In [ ]:
d={'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}
d['Math']=[x+1 for x in d['Math']]
d['Physics']=[x-2 for x in d['Physics']]
d

{'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

In [ ]:
d=[{'Math': 90, 'Science': 92}, {'Math': 89, 'Science': 94}, {'Math': 92, 'Science': 88}]
l=[]
for i in d:
  
  l.append(i['Science'])
l

[92, 94, 88]

In [ ]:
l={1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
d={}
for i,j in l.items():
  d[j]=len(j)

d

{'red': 3, 'green': 5, 'black': 5, 'white': 5}

In [ ]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
mykeys=list(myDict.keys())
mykeys.sort()
sorted_dict={i:myDict[i] for i in mykeys}
sorted_dict

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
def returnSum(myDict):
 
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
 
    return final
 
 
# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [ ]:
list = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]
 
 # Sorted By Age
print(sorted(list, key=lambda i:(i['age'],i['name'])))

[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

In [ ]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [ ]:
sc
str=str1[0]+str1[int(len(str1)//2)]+str1[-1]
str

'Jia'

In [ ]:
str1 = "James"
str1[int(len(str1)//2)]

'm'

In [ ]:
str1="JaSonAy"
middle=str1[int(len(str1)//2)]
middle_1=str1[int(len(str1)//2)+1]
middle_2=str1[int(len(str1)//2)-1]


str=middle_2+middle+middle_1
str

'Son'

In [ ]:
a=(1,2,3)
a=a+(9,)
a

(1, 2, 3, 9)

In [ ]:
# Create a new set
x=set()
print(x)
print(type(x))
print("Create Non empty dictionory")
n=set([1,2,3,4,5,6])
print(n)
print(type(n))

set()
<class 'set'>
Create Non empty dictionory
{1, 2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
num=set([1,2,3,4,5,6,6,7,8])
for n in num:
  print(n, end=' ')

colors=set()
colors.update(['Red','yellow'])
colors.add('Pink')
print(colors)

colors.pop()
print(colors)

num.discard(5)
print(num)

1 2 3 4 5 6 7 8 {'Red', 'yellow', 'Pink'}
{'yellow', 'Pink'}
{1, 2, 3, 4, 6, 7, 8}

In [ ]:
set1=set(['Red','blue','Violet'])
set2=set(['Green','Violet','blue'])

set3=set1 & set2
set3

{'Violet', 'blue'}

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])

setc3=setc1.union(setc2)
print(setc3)

{'blue', 'yellow', 'green'}

In [ ]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
r1=setc1.difference(setc2)
r1

{'green'}

In [ ]:
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
r2=setn1.symmetric_difference(setn2)
print(r2)

{2, 3, 4, 6, 7, 8, 9}

In [ ]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])

setz.issubset(sety)

True

In [ ]:
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
#A shallow copy
setr = setp.copy()
print(setr)
setr.add('yellow')
print(setr)
print(setp)
setq.clear()
print(setq)

{'Red', 'Green'}
{'Red', 'yellow', 'Green'}
{'Red', 'Green'}
set()

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set()
set3.update(set1)
set3.update(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set3=set()
set3=set1-set2
set3

{10, 30}

In [ ]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

tuple2=tuple(sorted(list(tuple1),key=lambda x:x[1]))
tuple2

(('c', 11), ('a', 23), ('d', 29), ('b', 37))