<a href="https://colab.research.google.com/github/sohil344/python_practise/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem 1: Combine two lists index-wise(columns wise)
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
list3=[]
res=[]
for i in range(len(list1)):
  list3=[list1[i],list2[i]]
  res.append(list3)
print(res)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

Problem 2: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
i=6000
if i in list1:
  print(True)
else:
  print(False)

False

In [ ]:
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

Input:

list1 = [1,2,3,4,5,6]

Output:

[1,3,6,10,15,21]

In [ ]:
list1 = [1,2,3,4,5,6]
list2=[]
for i in range(len(list1)+1):
  list2.append(sum(list1[0:i]))
print(list2)

[0, 1, 3, 6, 10, 15, 21]


Problem 5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]

In [ ]:
l1 = [2,4,6,10,1]
sum=0
l2=[]
for i in l1:
  for j in l1:
    if i<=j:
      sum=sum+j
   
  l2.append(sum)
  sum=0
print(l2)

[22, 20, 16, 10, 23]

Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
Input:

['1ac21', '23fg', '456', '098d','1','kls']

Output:

['456', '23fg', '1ac21', '1', 'kls', '098d']

In [ ]:
l1=['1ac21', '23fg', '456', '098d','1','kls']
prod_val=[]
for i in l1:
  product=1
  for char in i:
    if char.isdigit():
      product=product*int(char)
  
  prod_val.append(product)
[i[1] for i in sorted (list(zip(prod_val,l1)),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

Problem 9: Convert Character Matrix to single String using string comprehension.
Example 1:

Input:

[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

Output:

campux is best channel

In [ ]:
l=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

' '.join([''.join(i) for i in l])

'campux is best channel'

Problem 10: Add Space between Potential Words.
Example:

Input:

['campusxIs', 'bestFor', 'dataScientist']

Output:

['campusx Is', 'best For', 'data Scientist']

In [ ]:
list=['campusxIs', 'bestFor', 'dataScientist']
res=[]
for i in list:
  temp=[[]]
  for j in i:
    if j.isupper():
      temp.append([])
    temp[-1].append(j)
  temp_string=''
  for item in temp:
    temp_string=temp_string+''.join(item)+' '
  res.append(''.join(temp_string)[:-1])
res

['campusx Is', 'best For', 'data Scientist']

Problem 11: Write a program that can perform union operation on 2 lists
Example:

Input:

[1,2,3,4,5,1]

[2,3,5,7,8]

Output:

[1,2,3,4,5,7,8]

In [11]:
import numpy as np
l1=[1,2,3,4,5,1]
l2=[2,3,5,7,8]
l3=[]
l1.extend(l2)
for i in l1:
  if i not in l3:
    l3.append(i)
l3

[1, 2, 3, 4, 5, 7, 8]

Problem 12: Write a program that can find the max number of each row of a matrix
Example:

Input:

[[1,2,3],[4,5,6],[7,8,9]]

Output:

[3,6,9]

In [12]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
l2=[]
for i in l1:
  i.sort()
  l2.append(i[-1])

print(l2)

[3, 6, 9]

Problem 13: Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [21]:
l1=[[i+j for j in range(3)] for i in range(0,9,3)]
l1

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Problem 14: Write a list comprehension that can transpose a given matrix

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]


[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [24]:
matrix = [ [1,2,3], [4,5,6], [7,8,9] ]
transpose=[[row[i] for row in matrix]for i in range(3)]

transpose

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Problem 15: Write a list comprehension that can flatten a nested list
Input

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

Output:

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]

l1=[k for j in matrix for k in j]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]