<a href="https://colab.research.google.com/github/sohil344/python_practise/blob/main/Python_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Given a list, write a Python program to swap first and last element of the list.**
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [10]:
input= [2, 35, 9, 56, 24]
def swapping(list):
  list[0],list[-1]=list[-1],list[0]
  return input
  
swapping(input)

[24, 35, 9, 56, 2]

**Given a list of words in Python, the task is to remove the Nth occurrence of the given word in that list.**

Input: list - ["geeks", "for", "geeks"]
       word = geeks, N = 2
Output: list - ["geeks", "for"]

Input: list - ["can", "you",  "can", "a", "can" "?"]
       word = can, N = 1
Output: list - ["you",  "can", "a", "can" "?"]

In [38]:

def func(list,word,n):
  a=0
  b=[]

  
  for i in list:
    print(i)
    if i !=word:
      b.append(i)
    elif i==word:
      a+=1
      if a!=n:
        b.append(i)
    
        
  return b
func(["geeks", "for", "geeks"],'geeks',1)

geeks
for
geeks

['for', 'geeks']

**Remove empty List from List**

In [43]:
test= [5, 6, [], 3, [], [], 9]
test_1=[i for i in test if i!=[]]
print(test_1)

[5, 6, 3, 9]

**Convert List to List of dictionaries**

Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]

Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}]

Explanation : Values mapped by custom key, “name” -> “Gfg”, “id” -> 3.

Input : test_list = [“Gfg”, 10], key_list = [“name”, “id”]

Output : [{‘name’: ‘Gfg’, ‘id’: 10}]

Explanation : Conversion of lists to list of records by keys mapping.

In [49]:
test_list = ['Gfg', 3, 'is', 8]
key_list = ['name', 'id']

n=len(test_list)
res=[]
for i in range(0,n,2):
  res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
  
print(str(res))

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**How to count unique values inside a list**

In [52]:
i_p = [1, 2, 2, 5, 8, 4, 4, 8]
o_p=[]
for i in i_p:
  if i not in o_p:
    o_p.append(i)

print(len(o_p))

5

**Extract elements with Frequency greater than K**

Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 

Output : [4, 3] 

Explanation : Both elements occur 4 times. 

Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 6, 6], K = 2 

Output : [4, 3, 6] 

Explanation : Occur 4, 3, and 3 times respectively.

In [61]:
def freq(list,k):
  count=0
  d=[]
  for i in list:
    freq=list.count(i)
    if freq>k and i not in d:
      d.append(i)
  return d
freq([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

[4, 3]

**check if the list contains three consecutive common numbers in Python**

Input : [4, 5, 5, 5, 3, 8]

Output : 5

In [74]:
def func_2(list):
  list_2=[]
  for i in range(len(list)-2):
    if list[i]==list[i+1] and list[i+1]==list[i+2]:
      list_2.append(list[i])
  return list_2
func_2([4, 5, 5, 5, 6,6,6])

[5, 6]

**print all Possible Combinations from the three Digits**

In [77]:
def func(list):
  for i in range(3):
    for j in range(3):
      for k in range(3):
        if (i!=j and j!=k and i!=k):
          print(list[i],list[j],list[k])
func([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**Reverse a Number**

In [78]:
num=1234
rev_num=0
digit=0

while num!=0:
  digit=num%10
  rev_num=rev_num*10+digit
  num=num//10
print(rev_num)

4321

In [95]:
ints=153
sum=0
temp=ints
while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10

if ints==sum:
  print("It is Armstrong number")
else:
  print("It is not Armstrong number")

It is Armstrong number

In [100]:
#Program to Check Prime Number
num=7
flag=False
for i in range(2,num):
  if (num%i)==0:
    flag=True
    break
if flag==True:
  print("it is not Prime number")
else:
  print("it is Prime number")

it is Prime number

In [104]:
#Fibonacci series program in python using iterative method
num=6
a=0
b=1
for i in range(0,num):
  if i<=1:
    result=i

  else:
    result=a+b
    a=b
    b=result



  print(result)

0
1
1
2
3
5

In [108]:
#To check Palindrome number
num_1=122
num=num_1
rev_num=0
digit=0
while num!=0:
  digit=num%10
  rev_num=rev_num*10+digit
  num=num//10

if rev_num==num_1:
  print("It is Palindorme numer")
else:
  print("It is not Palindorme number")

It is not Palindorme number

In [111]:
#Generate infinite Fibonaaci Series using generators
def Fibonaaci():
  a,b=0,1
  while True:
    yield a
    a,b=b,a+b

f1=Fibonaaci()
print(next(f1))

0

In [113]:
#Create an Iterator
class Even:
  def __init__(self,max):
    self.n=2
    self.max=max
  def __iter__(self):
    return self
  def __next__(self):
    if self.n<=self.max:
      result=self.n
      self.n+=2
      return result
    else:
      raise StopIteration
numbers=Even(10)
print(next(numbers))

2

In [4]:
#Introduction to OOPs
class Student():
  def check_pass_fail(self):
    if self.marks>40:
      print("pass")
    else:
      print("Fail")
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks

    
student1=Student("SSS",45)


did_pass=student1.check_pass_fail()
did_pass

pass

In [5]:
#OOps example
class Complex:
  def __init__(self,real,imag):
    self.real=real
    self.imag=imag
  def add(self,number):
    real=self.real+number.real
    imag=self.imag+number.imag
    result=Complex(real,imag)
    return result
n1=Complex(5,6)
n2=Complex(-1,4)
result=n1.add(n2)
print(result.real)
print(result.imag)

4
10

In [3]:
#Inheritance

class Animal:
  def eat(self):
    print("I can eat")
class Dog(Animal):
  def bark(self):
    print("I can bark")
class Cat(Animal):
  def get_grumpy(self):
    print("Iam getting grumpy")

dog1=Dog()
dog1.bark()
dog1.eat()

cat1=Cat()
cat1.get_grumpy()
cat1.eat()

I can bark
I can eat
Iam getting grumpy
I can eat

In [7]:
#Perimeter of Quadilateral

class Polygon:
  def __init__(self,sides):
    self.sides=sides

  def perimeter(self):
    perimeter=sum(self.sides)
    return perimeter

class Triangle(Polygon):
  def display_info(self):
    print("A Traingle  is a polygon with 3 sides")

class Quadilateral(Polygon):
  def display_info(self):
    print("A Quadilateral has 4 sides")

t1=Triangle([1,2,3])
perimeter=t1.perimeter()
print(perimeter)

q1=Quadilateral([1,2,3,4])
perimeter=q1.perimeter()
print(perimeter)

6
10

In [5]:
 #Sort a list without using Sort keyword

list=[9,10,-10,1,3,4,5,78,900]
new_list=[]

while list:
  a=list[0]
  for x in list:
    if x<a:
      a=x
  new_list.append(a)
  list.remove(a)
print(new_list)

[-10, 1, 3, 4, 5, 9, 10, 78, 900]

In [6]:
#Whether string is palindrome or not without using loop
s='nitin'
if s==s[::-1]:
  print("It is Palindrome")
else:
  print("It is not Palindrome")

It is Palindrome

In [25]:
#Whether string is palindrome or not with using loop
t="sohil"
n=len(t)
x=0
for i in range(n):
  if t[i] != t[n-i-1]:
    x=1
    break
if x==0:
  print("Yes Palindrome")
else:
  print("It is not Palindorme")

It is not Palindorme

In [29]:
# Sort a dictionary

dict1={5:'Apple',7:'Grape',1:'QEEE',-10:'ioioi'}

d=sorted(dict1.keys())
print(d)

for i in d:
  dict2[i]=dict1[i]

print(dict2)

[-10, 1, 5, 7]
{-10: 'ioioi', 1: 'QEEE', 5: 'Apple', 7: 'Grape'}

In [32]:
#print all pair for given sum
list1=[1,2,3,4,5]
k=7
n=len(list1)

for i in range(n):
  for j in range(i+1,n):
    if(list1[i]+list1[j])==k:
      print(list1[i],list1[j])

2 5
3 4

In [35]:
#Print Fib series using recursive function
def recursive(n):
  if n<=1:
    return n
  else:
    return(recursive(n-1)+recursive(n-2))
n_terms=10
if n_terms<=0:
  print("Please give positive number")
else:
  for i in range(n_terms):
    print(recursive(i))

0
1
1
2
3
5
8
13
21
34

In [39]:
#String Manipulation

s="The Sky is blue"
l=s.split()
l=l[::-1]
l=" ".join(l)
print(l)

blue is Sky The

In [55]:
#Find the count of char in string and find max char in string

s="iiiyuyyyuyutteeeoooxnjncchugvd"
ch={}
for p in s:

  if p in ch:
    ch[p]+=1
  else:
    ch[p]=1
print(ch)

max_char=max(ch,key=lambda x: ch[x])
print(max_char)

{'i': 3, 'y': 5, 'u': 4, 't': 2, 'e': 3, 'o': 3, 'x': 1, 'n': 2, 'j': 1, 'c': 2, 'h': 1, 'g': 1, 'v': 1, 'd': 1}
y

In [72]:
#Min Max without using predifined func

list1=[1,2,3,0,-3,4,5]
n=len(list1)
for i in list1:
  min=i
  max=i
  for j in list1:
    if min<j:
      pass
    else:
      min=j
    if max>j:
      pass
    else:
      max=j

print(min)
print(max)

-3
5

In [75]:
#raise a Exception if element is a list

l=[1,2,3]
sum=0
for i in l:
  if i==1:
    raise Exception("Exception: 1 is found")
  else:
    sum+=i

Exception: ignored

In [77]:
try:
    numerator = 10
    denominator = 10

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

1.0

bold text